@charset "utf-8";
/* 初始化 */
body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,table,tr,td,form,p,ul,li,ol,span,img,a,em,strong,b,input,select,option,textarea,i,label{ margin:0; padding:0;}
li{ list-style:none;}
img{ border:0 none; vertical-align:top;}
body{ font-family:"宋体"; font-size:12px; color:#000;}
a{ color:#000; text-decoration:none;}
a:hover{ text-decoration:none; color:#f00;}
em{ font-style:normal;}
i{ font-style:normal;}
.clearfix{ zoom:1}
.clearfix:after{ content:"."; clear:both; display:block; height:0; visibility:hidden;}
/*首页*/
.header{
	width:1003px;
	height:87px;
	border-top:4px solid #7f7f7f;
	margin:0 auto;}
.logo{
	float:left;
	width:230px;
	height:84px;
	border-right:1px solid #c4c4c4;}
.top-link{
	float:right;
	width:150px;
	height:39px;}
.top-link a{
	display:inline-block;
	width:72px;
	text-align:center;
	line-height:39px;
	font-size:13px;
	color:#a3a2a2;}
.top-link a:hover{
	color:#f00;}
.nav-top{
	float:left;
	width:772px;
	height:41px;
	background:url(../images/nav-bj.jpg) no-repeat;}
.nav-top li{
	float:left;
	width:95px;
	height:41px;
	line-height:41px;
	text-align:center;
	font-size:13px;
	color:#4d4c4c;}
.main-flash{
	margin:0 auto;
	width:1003px;
	height:317px;}
.shade{
	position:relative;
	z-index:99;
	margin:0 auto;
	background:url(../images/shade.jpg) no-repeat;
	width:1003px;
	height:30px;}

.main{
	margin:0 auto;
	width:1003px;
	height:auto;}
.main-left{
	float:left;
	width:188px;
	height:420px;}
.main-left-top{
	width:100%;
	height:34px;
	background:url(../images/cssSprite.png) 0 -70px no-repeat;}
.main-left-top h3{
	position:relative;
	height:29px;
	line-height:29px;
	padding:5px 0 0 27px;
	font-family:"微软雅黑";
	font-size:13px;
	color:#1952c6;}
.main-left-top h3 i{
	position:absolute;
	bottom:0;
	right:11px;
	font-size:12px;
	color:#9a9a9a;}
.main-left-middle{
	width:100%;
	height:auto;
	margin-top:13px;}
.main-left-middle li{
	width:188px;
	height:26px;
	padding-bottom:3px;
	background: url(../images/nav-link.jpg) no-repeat;}
.main-left-middle li a{
	display:block;
	width:188px;
	height:26px;
	text-align:center;
	line-height:26px;}
	
.main-left-bottom{
	width:100%;
	height:auto;
	margin-top:1px;}
.main-left-bottom dt{
	margin-bottom:10px;}
.main-left-bottom dd{
	width:188px;
	height:26px;
	line-height:26px;}
	
.main-middle{
	float:left;
	width:556px;
	height:420px;
	margin-left:37px;}
.main-middle-first{
	width:100%;
	height:202px;}
.main-middle-top{
	background:url(../images/cssSprite.png) 0 -131px no-repeat;}
.main-middle-top i{
	position:absolute;
	left:96px;
	bottom:0;}
.main-middle-top em{
	position:absolute;
	right:6px;
	bottom:0;
	font-family:"微软雅黑";
	font-size:13px;
	color:#111111;}
.main-middle-top em:hover{
	color:#f00;}
.main-middle-first-content{
	width:100%;
	height:100%;
	margin:18px 0 0 1px;}
.main-middle-first-content dt{
	float:left;
	margin-right:11px;
	width:137px;
	height:139px;
	background:url(../images/main-middle.jpg) no-repeat;}
.main-middle-first-content dd{
	float:left;
	width:398px;
	height:auto;
	line-height:22px;
	text-indent:2em;}
.main-middle-second{
	width:100%;
	height:100%;}
.main-middle-second-help{
	overflow:hidden;
	width:542px;
	height:auto;}
.main-middle-second-main{
	width:115%;
	height:auto;}
.main-middle-second-content{
	float:left;
	width:127px;
	height:165px;
	margin:20px 7px 0 14px;}
.main-middle-second-content dd{
	width:127px;
	height:26px;
	line-height:26px;
	text-align:center;}
	
.main-right{
	float:left;
	width:200px;
	height:420px;
	margin-left:22px;}
.main-right-top{
	background:url(../images/cssSprite.png) 0 -199px no-repeat;}
.main-right-content{
	
	width:100%;
	height:100%;}
.main-right-content dt{
	margin:10px 1px 15px 0;}
.main-right-content i{
	position:absolute;
	left:5px;
	top:10px;
	overflow:hidden;
	width:0;
	height:0;
	border-color:transparent transparent transparent #777676;
	border-width:3px;
	border-style:solid;}
.main-right-content dd{
	position:relative;
	width:178px;
	height:26px;
	line-height:26px;
	color:#777676;
	padding-left:19px;}
	
.footer{
	width:1003px;
	height:76px;
	border-top:7px solid #e2e1e1;
	margin:20px auto 0;
	padding-top:13px;
	text-align:center;
	color:#a4a2a2;
	line-height:22px;}
	
/*联系我们*/
.call-us-main{
	position:relative;
	float:left;
	width:777px;
	height:auto;
	margin-left:37px;}
.call-us-main-top{
	position:absolute;
	z-index:77;
	left:0;
	top:-14px;
	width:100%;
	height:46px;
	line-height:56px;
	padding-left:32px;
	background: url(../images/call-us-main-top.png) no-repeat;}
.call-us-main-top i{
	position:absolute;
	top:21px;
	left:16px;
	width:0;
	height:0;
	border-color:transparent transparent transparent #ea3724;
	border-width:7px;
	border-style:solid;}
.call-us-main-content{
	width:100%;
	height:479px;}
.call-us-main-content h3{
	margin-top:34px;
	height:43px;
	line-height:43px;
	padding-left:22px;}
.map{
	width:532px;
	height:245px;
	padding:5px;
	margin-left:22px;
	border:1px solid #e1dddd;}
.map dt{
	margin-bottom:16px;}
.map dd{
	width:188px;
	height:26px;
	line-height:26px;}
	
/*列表产品*/
.call-us-main-BK{
	width:778px;
	height:auto;
	margin-top:46px;}
.call-us-main-BK dl{
	float:left;
	width:346px;
	height:143px;
	border-bottom:1px dashed #ececec;
	margin:14px 16px 4px 22px;}
.call-us-main-BK dt{
	float:left;}
.call-us-main-BK dd{
	float:left;
	width:187px;
	margin-left:20px;}
.call-us-main-BK dd h4{
	height:25px;
	line-height:25px;
	width:100%;
	font-family:"微软雅黑";
	font-size:18px;
	margin-bottom:9px;
	font-weight:400;}
.call-us-main-BK dd p{
	height:88px;
	width:100%;
	line-height:21px;
	font-family:"微软雅黑";
	font-size:13px;
	color:#323232;}

.page{
	width:777px;
	height:22px;
	text-align:center;
	margin:30px 0 1px 0;}
.page a{
	display:inline-block;
	width:31px;
	height:20px;
	line-height:20px;
	text-align:center;
	border:1px solid #b6b5b5;}
.cur, .page a:hover{
	background:#ea3724;
	color:#fff;}
	
/*列表文章*/
.list-article{
	width:789px;
	height:auto;
	margin:39px 0 0 19px;}
.list-article li{
	width:716px;
	height:36px;
	line-height:36px;
	color:#191919;
	border-bottom:1px dotted #9e9c9c;}
.list-article li b{
	display:inline-block;
	width:27px;
	height:36px;
	line-height:36px;
	text-align:center;}
.list-article li i{
	display:inline-block;
	height:36px;
	line-height:36px;
	float:right;}
.article{
	margin-bottom:28px;}
	
/*公司简介*/
.introduction{
	width:733px;
	height:auto;
	margin-left:20px;
	margin-top:58px;}
.introduction h3{
	text-align:center;
	height:26px;
	line-height:26px;
	margin:26px 0 auto;
	color:#5e5a5a;
	font-size:14px;
	font-weight:bold;}
.introduction dl{
	width:100%;
	height:auto;}
.introduction dt{
	height:28px;
	line-height:28px;
	text-align:center;
	color:#5e5a5a;}
.introduction dd{
	height:85px;
	line-height:22px;
	text-indent:2em;
	color:#5e5a5a;
	margin:8px 0 11px 0;}